section.page.pageTwo
  div.container-fluid
    div.row
        div#date-text
        canvas#cycles( width='500px', height='500px')          
        <table id='moonth-grid'>
        <tr> <td> <a id=day1>1</a></td> <td> <a id=day2>2</a></td> <td> <a id=day3>3</a></td> <td> <a id=day4>4</a></td> <td> <a id=day5>5</a></td>
        <tr> <td> <a id=day6>6</a></td> <td> <a id=day7>7</a></td> <td> <a id=day8>8</a></td> <td> <a id=day9>9</a></td> <td> <a id=day10>10</a></td>
        <tr> <td> <a id=day11>11</a></td> <td> <a id=day12>12</a></td> <td> <a id=day13>13</a></td> <td> <a id=day14>14</a></td> <td> <a id=day15>15</a></td>
        <tr> <td> <a id=day16>16</a></td> <td> <a id=day17>17</a></td> <td> <a id=day18>18</a></td> <td> <a id=day19>19</a></td> <td> <a id=day20>20</a></td>
        <tr> <td> <a id=day21>21</a></td> <td> <a id=day22>22</a></td> <td> <a id=day23>23</a></td> <td> <a id=day24>24</a></td> <td> <a id=day25>25</a></td>
        <tr> <td> <a id=day26>26</a></td> <td> <a id=day27>27</a></td> <td> <a id=day28>28</a></td> <td> <a id=day29>29</a></td> <td> <a id=day30>30</a></td>
        </table>        
